@model CI_PLATFORM.Entities.Models.Country
<link rel="stylesheet" href="~/css/HomeGrid.css">

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light  ">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">


                    <li class="nav-item">
                        <a class="nav-link ms-lg-5" href="#">Stories</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ms-lg-5" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            policy
                        </a>
                        <ul class="dropdown-menu text-center w-50" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action1</a></li>
                            <li><a class="dropdown-item" href="#">Action2</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Action3</a></li>
                        </ul>
                    </li>


                </ul>

            </div>
            <form class="d-flex">
                <img src="~/images/user-img.png" class="profile-nav" alt="">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        @ViewBag.Uname
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action1</a></li>
                        <li><a class="dropdown-item" href="#">Action1</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Action1</a></li>
                    </ul>
                </li>
            </form>
        </div>
    </nav>
</div>


<hr class="d-none d-md-block">


<div class="container-fluid">
    <div class="container">
        <div class="row d-flex">
            <nav class="navbar  navbar-expand-lg bg-body-tertiary p-0">
                <div class="container-fluid">
                    <div class="d-flex align-items-center col-lg-6 col-12  .navbar-search-sm" role="search">

                        <img src="~/images/search.png" class="search" />
                        <input class="form-control mx-1" type="search" placeholder="Search Missions..."
                               aria-label="Search">

                    </div>

                    <div class="col-lg-6 col-12 anchor">
                        <div class="row">
                            @*<div class="collapse navbar-collapse" id="navbarSupportedContent">*@
                            <div class=" col-6 col-sm-3 dropdown ">
                                <button class="h-item border  bg-light  w-100 p-0" type="button"
                                        data-bs-toggle="dropdown">

                                    <select id="countryId" onchange="GetCity()" class="form-select select-menu  profile-name d-flex justify-content-between h-100 w-100 "
                                            aria-label="Default select example" style="box-shadow: none;">
                                        <option selected>Country</option>
                                        @foreach (var obj in @ViewBag.countries)
                                        {
                                            <option value="@obj.CountryId">@obj.Name</option>
                                        }
                                    </select>
                                </button>
                            </div>
                            <div class=" col-6 col-sm-3 dropdown">
                                <button class="h-item border d-flex  bg-light align-items-center justify-content-between w-100 p-0" type="button"
                                        data-bs-toggle="dropdown">
                                    <select class="form-select select-menu profile-name d-flex justify-content-between h-100 w-100"
                                            aria-label="Default select example" style="box-shadow: none;" id="selectCityList">

                                        <option selected>City</option>

                                    </select>
                                </button>
                            </div>
                            <div class=" col-6 col-sm-3 pt-3 pt-sm-0 dropdown">
                                <button class="h-item border d-flex border align-items-center justify-content-between w-100 h-100 p-0" style="background-color:white;" type="button"
                                        data-bs-toggle="dropdown">
                                    Themes
                                    <img src="~/images/drop-down.png" alt="Profile-dropdown" />
                                </button>
                                <ul class="dropdown-menu scroll_dropdown" aria-labelledby="dropdownMenuButton1">
                                    @foreach (var obj in @ViewBag.themes)
                                    {
                                        <li>
                                            <div class="form-check dropdown-item p-0 w-100 ">
                                                <input class="form-check-input mx-auto ms-1" type="checkbox" value=""
                                                   id="@obj.MissionThemeId" />
                                                <label class="form-check-label ps-4" for="@obj.MissionThemeId">
                                                    @obj.Title
                                                </label>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class=" col-6 col-sm-3 pt-3 pt-sm-0 dropdown">
                                <button class="h-item border d-flex  align-items-center justify-content-between w-100 h-100 p-0" style="background-color:white;" type="button"
                                        data-bs-toggle="dropdown">
                                    <span class="profile-name d-flex">Skills</span>
                                    <img src="~/images/drop-down.png" alt="Profile-dropdown" />
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end w-100">
                                    @foreach (var obj in @ViewBag.skills)
                                    {
                                        <li>
                                            <div class="form-check dropdown-item p-0 w-100 ">
                                                <input class="form-check-input mx-auto ms-1" type="checkbox" value=""
                                                   id="@obj.SkillId" />
                                                <label class="form-check-label ps-0 ps-sm-4" for="@obj.SkillId">
                                                    @obj.SkillName
                                                </label>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            @*</div>*@
                        </div>
                    </div>

                </div>
            </nav>
        </div>
    </div>
</div>


<hr>


<div class="container">



    <div class="row">
        <div class="col-md-9 col-sm-12">Explore <b>72 missions</b></div>
        <div class="col-md-3 col-sm-12 d-flex justy">
            <div class="dropdown h-dropdown">
                <button style="background-color: white; border: none;">
                    <a class="nav-link dropdown-toggle  " href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <span style="font-size: 14px;">short by</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action1</a></li>
                        <li><a class="dropdown-item" href="#">Action1</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Action1</a></li>
                    </ul>
                </button>
            </div>
            <div class="">
                <a asp-controller="Platform" asp-action="HomeGrid">
                    <i class="bi bi-grid"></i>
                </a>
            </div>
            <div class="">
                <a asp-controller="Platform" asp-action="HomeList">
                    <i class="bi bi-list"></i>
                </a>
            </div>
        </div>
    </div>



    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

        @foreach (var item in @ViewBag.MissionDeails)
        {
            <div class="col">
                <div class="card ">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class="card-img-top" alt="...">
                    <div class="position-relative">
                        <div class="position-absolute top-100 start-50 translate-middle round p-2 title" style="background-color: white;">
                            @item.Theme.Title
                        </div>
                    </div>
                    <div class="card-img-overlay">
                        <p class="text-end text">
                            <button class="btn btn-box" style="background-color: rgb(65, 60, 60) ; opacity: 45%;">
                                <img src="~/images/pin.png" class="mx-2 cancle-img" alt="">
                                <span style="color: white ; ">@item.City.Name</span>
                            </button>



                        </p>
                        <div class="pt-1 text-end">
                            <button class="btn btn-box rounded-5" style="background-color: rgb(65, 60, 60) ; opacity: 45%;">
                                <img src="~/images/heart.png" class=" img-fluid cancle-img" alt="">
                            </button>
                        </div>

                        <div class="text-end">

                            <button class="btn btn-box rounded-5" style="background-color: rgb(65, 60, 60) ; opacity: 45%;">
                                <img src="~/images/user.png" class=" img-fluid cancle-img" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">
                            @item.ShortDescription
                        </p>
                        <div class="container p-2">
                            <div class="row d-flex">
                                <div class="col-md-6">
                                    @item.OrganizationName
                                </div>
                                <div class="col-md-6">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper  d-flex justify-content-center">
                            <hr class="divider">
                            <div class=" d-flex justify-content-center b2 ">

                                <div class="d-flex justify-content-center .left .right ">
                                    @item.StartDate.ToShortDateString() until @item.EndDate.ToShortDateString()

                                </div>

                            </div>
                            <hr class="divider">
                        </div>
                        <div class="container">
                            <div class="row mt-2">
                                <div class="col-6 ">

                                    <i class="bi bi-person-check " style="font-size: 28px;"></i>
                                    10 <br>
                                    seats left

                                </div>
                                <div class="col-6 ">
                                    <i class="bi bi-clock" style="font-size: 25px;"></i>
                                     @item.EndDate.ToShortDateString() <br> Deadline
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="d-flex justify-content-center apply2">
                            <button type="button" class="btn btn-outline apply">
                                Apply <i class=" ms-2 bi bi-arrow-right-short"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>